@model IEnumerable<WebAppOsiguranje.Models.Partner>

@{
    ViewBag.Title = "Lista Partnera";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th>FullName</th>
            <th>PartnerNumber</th>
            <th>PartnerTypeId</th>
            <th>CreatedAtUtc</th>
            <th>IsForeign</th>
            <th>Gender</th>
            <th>Detalji</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var partner in Model)
            {
                <tr class="@(partner.PartnerId == TempData["NewPartnerId"] as int? ? "new-partner" : "")">
                    <td>@(partner.FirstName + " " + partner.LastName)</td>
                    <td>@partner.PartnerNumber</td>
                    <td>@partner.PartnerTypeId</td>
                    <td>@partner.CreatedAtUtc.ToString("dd.MM.yyyy")</td>
                    <td>@partner.IsForeign</td>
                    <td>@partner.Gender</td>
                    <td>
                        <a href="@Url.Action("Details", "Partner", new { id = partner.PartnerId })">Detalji</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">Nema dostupnih partnera.</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-danger bg-danger" href="@Url.Action("Create", "Partner")">Dodaj Novog Partnera</a>
